# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.


# Drizzle
ENDPOINT=host
USERNAME=postgres
DATABASE=postgres
PASSWORD=user
DATABASE_URL="postgresql://{database}:{host}:{port}/{user}?sslmode=no-verify"


NEXT_PUBLIC_ENV=development
API_SECRET_KEY=X5CuRoe0L6T99WfeSzS5YqZJ15zuSFxd
BRIGHT_DATA_API_KEY=b577666c6ce0dc77a2dcba768de08b3f97ac64113aa991f9ce5bfb79fab0153d